{% extends 'base.html' %} 
{% load static %}
{% block content %} 
{% include "nav.html" %}
<title>
	About SSS
</title>
<img class="Myimage1" src = "{% static '/ser.png' %}"/>
<div class="main1">
<h1>About SSS</h1>
<p>Shine Software Solutions (SSS) established in 2008 based in HYDERABAD specialized in Computer Education and Spot Value Examination Software for Educational Institutions. Shine Software Solutions (SSS) is a technology based company dedicated to the propagation of Computer Education and spot value Examinations for students. The company provides complete Infrastructure to its client schools, computer hardware, software, connectivity and faculty for conducting IT classes. Company will provide manpower as per the requirement of the Institute to run Institution smoothly and qualitively. And also company will provide neccessary security equipements like CCTC cameras and Mobile jammers to the Institute.</p>
<br><br><br><br>
<div class="container2">
  <img src="{% static '/ceo.jpg' %}" alt="Avatar" class="image">
</div>
<h2>T Sundara Rao, CEO</h2>
</div>
{% endblock %}