{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<div id="mySidenav" class="sidenav">
	<a class="a" href="/home" id="home">Home<i class="fa fa-fw fa-home"></i></a>
	<a class="a" href="/about" id="about">About<i class="fa fa-fw fa-check"></i></a>
	<a class="a" href="/contact" id="contact">Contact Us<i class="fa fa-fw fa-phone"></i></a>
	{% if user.is_superuser %}
	<a class="a" id="login">{{request.user.username}}<i class="fa fa-fw fa-star"></i></a>
	<a class="a" href="/logout" id="logout">Logout<i class="fa fa-fw fa-star"></i></a>
	{% else %}
		{% if 'admin' in user.username %}
		<a class="a" id="login"><i class="fa fa-fw fa-star"></i>{{request.user.username}}</a>
		<a class="a" href="/admin" id="sc"><i class="fa fa-fw fa-star"></i>Admin page</a>
		<a class="a" href="/logout" id="logout"><i class="fa fa-fw fa-star"></i>Logout</a>
		{% else %}
			{% if user.is_authenticated %}
			<a class="a" id="login" href="/exam">Exam<i class="fa fa-fw fa-star"></i></a>
			<a class="a" id="sc" href="/result">Result<i class="fa fa-fw fa-star"></i></a>
			<a class="a" href="/logout" id="logout">Logout<i class="fa fa-fw fa-star"></i></a>
			{% else %}
			<a class="a" href="/exam" id="login">Login<i class="fa fa-fw fa-star"></i></a>
			{% endif %}
		{% endif %}
	{% endif %}
</div>